@model MvcHtmlInputDemo.Dto.UpdateUserdto

@{
    ViewData["Title"] = "Edit";
}

@{

    //if (Model.ProfilePicture != null)
    //{

    //}
}

<h1>Edit</h1>

<h4>UpdateUserdto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Update", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label class="control-label">Full Name: </label>
                <input asp-for="Fullname" type="text" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <div class="form-group col-md-2">
                    <label asp-for="Gender" class="control-label"></label>
                </div>

                <div class="form-group col-md-6">
                    <label name="Male" class="control-label">Male</label>
                    <input asp-for="Gender" type="radio" value="Male" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label name="Female" class="control-label">Female</label>
                    <input asp-for="Gender" type="radio" value="Female" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group col-md-2">
                    <label asp-for="CityId" class="control-label"></label>
                </div>
                <div class="form-group col-md-4">
                    @*<input asp-for="CityId" class="form-control" />*@
                    @Html.DropDownListFor(model => model.CityId, ViewBag.CityList as SelectList, new { @class = "form-control" })
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="form-group col-md-2">
                    <label class="control-label">Sports</label>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Cricket" class="control-label"></label>
                </div>
                <div class="form-group col-md-1">
                    @Html.CheckBoxFor(x => x.Cricket, new { @class = "form-control" })
                    @*<input id="Cricket" name="Cricket" type="checkbox" value="true" />*@
                    <span asp-validation-for="Cricket" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2">
                    <label asp-for="Kabbdai" class="control-label"></label>
                </div>
                <div class="form-group col-md-1">
                    @Html.CheckBoxFor(x => x.Kabbdai, new { @class = "form-control" })
                    <span asp-validation-for="Kabbdai" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2">
                    <label asp-for="Tenies" class="control-label"></label>
                </div>
                <div class="form-group col-md-1">
                    @Html.CheckBoxFor(x => x.Tenies, new { @class = "form-control" })
                    <span asp-validation-for="Tenies" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                @if (@Model.Image == null || @Model.Image.Length <= 0)
                {
                    <img id="user_img" height="100" width="90" style="border:solid" />
                }
                else
                {
                    <img id="user_img" height="100" width="90" style="border:solid"  src="@Model.Image" alt="Image" />
                }
                <input type="file" name="ImageData" id="ImageData" onchange="show(this);" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        if (Model.ProfilePicture != null) {
            var base64 = Convert.ToBase64String(Model.ProfilePicture);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    });    

    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
